html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #183750;
  color: #b5b5b5; }

*, *::before, *::after {
  box-sizing: inherit; }

.whole-wrapper {
  min-height: 100vh;
  min-width: 100vw;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column; }
  .whole-wrapper .main-container {
    min-width: 100px;
    max-width: 95%;
    padding: 40px 30px;
    text-align: center;
    margin: auto; }
    @media (min-width: 768px) {
      .whole-wrapper .main-container {
        max-width: 80%; } }
    @media (min-width: 992px) {
      .whole-wrapper .main-container {
        max-width: 60%;
        min-height: 35vh; } }

.button {
  background-color: #12283b;
  padding: 7px 5px;
  width: 90px;
  transition: 300ms;
  margin: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #b5b5b5; }
  .button:hover {
    color: #d1d1d1;
    background-color: #0c1b27; }

.title {
  font-size: 1.5rem; }

.link {
  color: #b5b5b5;
  transition: 300ms;
  cursor: pointer;
  text-decoration: none; }
  .link:hover {
    color: #d1d1d1; }

footer {
  font-size: .9rem;
  margin: 10px 0;
  text-align: center; }

.whole-wrapper .main-container {
  flex-direction: column; }
  .whole-wrapper .main-container .line {
    margin: auto;
    width: 85%;
    border-top: 1px solid #b5b5b5;
    margin-bottom: 10px; }
  .whole-wrapper .main-container .inputs-wrapper {
    margin: auto; }
    .whole-wrapper .main-container .inputs-wrapper .input-title {
      margin-top: 7px;
      text-align: left; }
    .whole-wrapper .main-container .inputs-wrapper .input {
      display: block;
      width: 100%;
      font-size: 1rem;
      background-color: transparent;
      padding: 10px;
      color: #b5b5b5;
      border: 1px solid rgba(255, 255, 255, 0.2);
      outline: none;
      transition: .3s; }
      .whole-wrapper .main-container .inputs-wrapper .input:focus {
        color: #d1d1d1;
        border: 1px solid #d1d1d1;
        box-shadow: 0 0 3px #d1d1d1; }
    .whole-wrapper .main-container .inputs-wrapper .input-toogle {
      display: none; }
    .whole-wrapper .main-container .inputs-wrapper .input-toggle-box {
      width: 100%;
      height: calc(1rem + 12px);
      background-color: #12283b;
      transition: background-color 300ms;
      cursor: pointer; }
      .whole-wrapper .main-container .inputs-wrapper .input-toggle-box .toggle {
        width: 50%;
        height: 100%;
        background-color: #0c1b27;
        transition: margin-left 300ms, background-color 300ms;
        margin-left: 0;
        border: 1px solid rgba(255, 255, 255, 0.2); }
        .whole-wrapper .main-container .inputs-wrapper .input-toggle-box .toggle::before {
          content: "True"; }
      .whole-wrapper .main-container .inputs-wrapper .input-toggle-box.false .toggle {
        margin-left: 50%; }
        .whole-wrapper .main-container .inputs-wrapper .input-toggle-box.false .toggle::before {
          content: "False"; }
  .whole-wrapper .main-container .button-wrapper {
    margin-top: 10px; }
    .whole-wrapper .main-container .button-wrapper .button {
      margin: 5px auto; }
      @media (min-width: 768px) {
        .whole-wrapper .main-container .button-wrapper .button {
          display: inline-block; }
          .whole-wrapper .main-container .button-wrapper .button:first-child {
            margin-right: 15px; } }
