html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #183750;
  color: #b5b5b5; }

*, *::before, *::after {
  box-sizing: inherit; }

p, h1 ,h2 ,h3, h4, h5, h6 {
  margin: 0;
}

.title {
  font-size: 1.5rem; }

.link {
  color: #b5b5b5;
  transition: 300ms;
  cursor: pointer;
  text-decoration: none; }
  .link:hover {
    color: #d1d1d1; }


.whole-wrapper {
  min-height: 100vh;
  min-width: 100vw;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column; }
  .whole-wrapper .main-container {
    min-width: 100px;
    max-width: 95%;
    padding: 40px 30px;
    text-align: center;
    margin: auto; }
    @media (min-width: 768px) {
      .whole-wrapper .main-container {
        max-width: 80%; } }
    @media (min-width: 992px) {
      .whole-wrapper .main-container {
        max-width: 60%;
        min-height: 35vh; } }
